<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="w-100">
		<div class="d-flex justify-content-between mt-3">
				<h3>보스 모집</h3>		
		</div>
		
		<!-- 기본 -->
		<div class="d-flex justify-content-center align-items-center my-2">
			<span class="mr-3 font-weight-bold">보스명</span>
			<span th:text=${board.boss.bossName} class="bossInfoBox form form-control text-center" id="bossName"></span>
			<!-- 월드 -->
			<div class="d-flex justify-content-center align-items-center ml-5">
				<span class="font-weight-bold mr-3">월드</span>
				<input th:value="${board.boss.world}" readonly type ="text" class="form form-control bossInfoBox mr-3" id="world" name="world">
			</div>
			
			<!-- 상태명 -->
			<span class="mr-3 font-weight-bold">상태</span>
			<div class="d-flex justify-content-center my-3 align-items-center">
				<select id="state" class="selectBox mx-3">
					<option value="모집중" th:selected="${board.boss.state == '모집중'}">모집중</option>
					<option value="종료" th:selected="${board.boss.state == '종료'}">종료</option>
				</select>
			</div>
		</div>
		
		
		<!-- 전투력, 인원 -->
		<div class="d-flex justify-content-center align-items-center my-1">
			<span class="mr-3 font-weight-bold">모집 전투력</span>
			<input th:value="${board.boss.recommendStat}" type ="text" class="form form-control bossProperBox" id="recommendStat" name="recommendStat" placeholder="ex) 1억 5000만 -> 1억 5천 이상으로 측정">
			<span class="ml-3 font-weight-bold">모집 인원</span>
			<input th:value="|${board.boss.presentMember} / ${board.boss.memberLimit}|" readonly type ="text" class="form form-control ml-3" id="memberLimit" name="memberLimit" placeholder="ex) 6">
		</div>
		
				
		<!-- 제목 -->
		<div class="d-flex justify-content-center align-items-center my-3">
			<span class="mr-3 font-weight-bold">제목</span>
			<input th:value="${board.boss.subject}" type ="text" class="form form-control infoBoxUp" id="subject" name="subject" placeholder="제목을 입력하세요.">
		</div>
		
		<!-- 내용 -->
		<div class="d-flex justify-content-center align-items-center my-3">
			<span class="mr-3 font-weight-bold">내용</span>
			<textarea th:text="${board.boss.content}" id="content" class="contentBox" rows="13" placeholder="내용을 입력하세요."></textarea>
		</div>		
		
				
		<!-- 수정하기 버튼 -->
		<div class="d-flex justify-content-center my-4">
			<input type="button" id="updateBtn" class="btn btn-danger" th:data-boss-id="${board.boss.id}" value="수정하기">
		</div>
				
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function(){
			
			$("#updateBtn").on("click" , function(){
				
				let state = $("#state").val();
				let recommendStat = $("#recommendStat").val().trim();
				let subject = $("#subject").val().trim();
				let content = $("#content").val().trim();
				let bossId = $(this).data("boss-id");
				
				if (state == ""){
					alert("모집 상태를 선택해주세요.");
					return;
				}
				
				if (recommendStat == ""){
					alert("모집하려는 전투력을 입력하세요.");
					return;
				}
				
				if (subject == ""){
					alert("제목을 입력하세요.");
					return;
				}
				
				if (content == ""){
					alert("내용을 입력하세요.");
					return;
				}
				
				let formData = new FormData();
				formData.append("state" , state);
				formData.append("recommendStat" , recommendStat);
				formData.append("subject" , subject);
				formData.append("content" , content);
				formData.append("bossId" , bossId);
				
				
				$.ajax({
					type : "PUT",
					url : "/boss/update",
					data : formData,
					processData: false,  
		            contentType: false,
					success : function(data){
						if (data.code == 206){
							alert(data.result);
							location.href = "/boss/detail-view?boardId=" + bossId;
						} else if (data.code == 300){
							alert(data.error_message);
							location.href="/user/signIn";
						} else if (data.code == 301){
							alert(data.error_message);
							location.href="/user/signIn";
						} else if (data.code == 315){
							alert(data.error_message);
						}
					}
					, error : function(e){
						alert(e.error_message);
					}
					
				});
				
				
				
				
			});
			
			
		});
	
	
	
	</script>

</th:block>