<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">
	
		<div class="sectionBox">
			<div class="d-flex justify-content-between mt-5">
				<div class="bossImgBox"><a href="/boss/board?bossName=루시드"><img src="/img/lucid.png" id ="lucid" alt= "lucid" class="w-100 h-100"></a></div>
				<div class="bossImgBox"><a href="/boss/board?bossName=더스크"><img src="/img/dusk.png" alt= "dusk" class="w-100 h-100"></a></div>
				<div class="bossImgBox"><a href="/boss/board?bossName=듄켈"><img src="/img/darknell.png" alt= "demian" class="w-100 h-100"></a></div>
			</div>
			<div class="d-flex justify-content-between mt-5">
				<div class="bossImgBox"><a href="/boss/board?bossName=진힐라"><img src="/img/hilla.png" class="w-100 h-100"></a></div>
				<div class="bossImgBox"><a href="/boss/board?bossName=검은마법사"><img src="/img/blackmage.png" class="w-100 h-100"></a></div>
				<div class="bossImgBox"><a href="/boss/board?bossName=세렌"><img src="/img/seren.png" class="w-100 h-100"></a></div>
			</div>
		
		</div>
		
</section>

<th:block layout:fragment="script">
   
</th:block>