<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center">


	<!-- 캐릭터 정보 -->
    <div th:if="${characterDTO != null}">
        <p><strong>Nickname:</strong> <span th:text="${characterDTO.nickname}"></span></p>
        <p><strong>Level:</strong> <span th:text="${characterDTO.level}"></span></p>
        <p><strong>World:</strong> <span th:text="${characterDTO.world}"></span></p>
        <img th:src="${characterInfo.representativeImageUrl}" alt="Character Image" width="100" height="100">

        <!-- 장비 정보 -->
        <h3>Equipped Items:</h3>
        <ul>
            <li th:each="item : ${characterInfo.itemEquiment}">
                <img th:src="${item.itemIcon}" alt="Item" width="30" height="30" />
                <span th:text="${item.itemType} + ': ' + ${item.itemName}"></span>
            </li>
        </ul>
    </div>

	



</section>

<th:block layout:fragment="script">
    <script>

    </script>
</th:block>