<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapleinfo.boardImg.mapper.BoardImgMapper">
	<insert id="insertBoardImg" parameterType="map">
		INSERT INTO `boardImg`
		(
			`type`
			, `boardId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{type}
			, #{boardId}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert>
	
</mapper>