<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapleinfo.classboard.mapper.ClassBoardMapper">

	<!-- <insert id="insertClassBoard" parameterType="map">
		iNSERT INTO `classBoard`
		(
			`userId`
			, `characterClass`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{characterClass}
			, #{subject}
			, #{content}
			, #{imagePath}
			, NOW()
			, NOW()
		)
	</insert> -->


	<!--  summernote -->
	<insert id="insertClassBoard" parameterType="com.mapleinfo.classboard.domain.ClassBoard" useGeneratedKeys="true" keyProperty="id">
		iNSERT INTO `classBoard`
		(
			`userId`
			, `characterClass`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{characterClass}
			, #{subject}
			, #{content}
			, NOW()
			, NOW()
		)
	</insert>



	<select id="selectClassBoardList" resultType="com.mapleinfo.classboard.domain.ClassBoard">
		SELECT 
			`id`
			,`userId`
			, `characterClass`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`classBoard`
	</select>
	
	
	<select id="selectClassBoardByClassBoardId" resultType="com.mapleinfo.classboard.domain.ClassBoard" parameterType="int">
		SELECT 
			`id`
			,`userId`
			, `characterClass`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`classBoard`
		WHERE
			`id` = #{classBoardId}
	</select>
	
	
	
	<delete id="deleteClassBoard" parameterType="int">
		DELETE
		FROM
			`classBoard`
		WHERE
			`id` = #{classBoardId}
	</delete>
	
	
	<update id="updateClassBoard" parameterType="map">
		UPDATE `classBoard`
		SET
			`subject` = #{subject}
			, `content` = #{content}
			<if test="imagePath != null">
			, `imagePath` = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{boardId}
	</update>


	<!--  summernote 이미지 주소변경을 위해 content 변경 -->
	<update id="updateClassBoardForChangePath" parameterType="map">
		UPDATE `classBoard`
		SET
			`content` = #{content}
			, `updatedAt` = NOW()
		WHERE
			`id` = #{boardId}
			AND `characterClass` = #{type}
	</update>
	 
</mapper>