<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapleinfo.freeboard.mapper.FreeBoardMapper">

	<insert id="insertFreeBoard" parameterType="com.mapleinfo.freeboard.domain.FreeBoard" useGeneratedKeys="true" keyProperty="id">
		iNSERT INTO `freeBoard`
		(
			`userId`
			, `subject`
			, `content`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{userId}
			, #{subject}
			, #{content}
			, NOW()
			, NOW()
		)
	</insert>

	
	<select id="selectFreeBoardList" resultType="com.mapleinfo.freeboard.domain.FreeBoard">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`freeBoard`
	</select>


	<select id="selectFreeBoardByFreeBoardId" resultType="com.mapleinfo.freeboard.domain.FreeBoard" parameterType="int">
		SELECT
			`id`
			, `userId`
			, `subject`
			, `content`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`freeBoard`
		WHERE
			`id` = #{freeBoardId}
	</select>


	<delete id="deleteFreeBoard" parameterType="int">
		DELETE
		FROM 
			`freeBoard`
		WHERE 
			`id` = #{freeBoardId}
	
	</delete>


	<update id="updateFreeBoard" parameterType="map">
		UPDATE `freeBoard`
		SET
			`subject` = #{subject}
			, `content` = #{content}
			<if test="imagePath != null">
			, `imagePath` = #{imagePath}
			</if>
			, `updatedAt` = NOW()
		WHERE
			`id` = #{boardId}
	</update>
	
	
	
	
	<select id="getListPaging" resultType="com.mapleinfo.freeboard.domain.FreeBoard">
		SELECT
			`id`,
			`userId`,
			`subject`,
			`content`,
			`imagePath`,
			`createdAt`,
			`updatedAt`
		FROM `freeBoard`
		ORDER BY `id` DESC
		LIMIT #{skip} , #{amount}
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>