<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="sectionBox">
		
		<img src="/img/maplelogo.jpg" alt="logo" class="logoImg">
		
		<form id="loginForm" action="/user/sign-in" method="POST">
			<div class="col-10 loginBox">
				<div class="d-flex justify-content-center align-items-center">
						<h1>비밀번호 변경</h1>
				</div>
				
				<!-- 아이디 -->
				<div>
					<div class="d-flex ml-5">
						<span>아이디</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="text" class="form form-control infoBoxUp" id="loginId" name="loginId">
					</div>
				</div>
				
				<!-- 비밀번호 -->
				<div>
					<div class="d-flex ml-5">
						<span>비밀번호</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="password" class="form form-control idBox mx-3" id="prePassword" name="prePassword">
						<button type="button" id="userSelectBtn" class="btn btn-danger text-white">계정 조회</button>
					</div>
				</div>
				
				<div class="d-flex justify-content-center">
					<div id="userCheckOk" class="small text-success d-none">정보를 확인하였습니다.</div>
					<div id="userCheckNo" class="small text-danger d-none">계정 정보가 일치하지 않습니다.</div>
				</div>
				
				<!-- 변경할 비밀번호 -->
				<div>
					<div class="d-flex ml-5">
						<span>변경할 비밀번호</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="password" class="form form-control infoBoxUp" id="password" name="password" placeholder="6 ~ 10 자리의 비밀번호를 입력해주세요.">
					</div>
				</div>				
				
				<!-- 변경할 비밀번호 확인 -->
				<div>
					<div class="d-flex ml-5">
						<span>변경할 비밀번호 확인</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="password" class="form form-control infoBoxUp" id="confirmPassword" name="confirmPassword">
					</div>
				</div>
				
				<div class="ml-3 mb-3">
					<div id="passwordCheckFail" class="small text-danger d-none">비밀번호가 일치하지 않습니다.</div>
					<div id="passwordCheckOk" class="small text-success d-none">비밀번호가 일치합니다.</div>
				</div>
				
				<!-- 변경하기 버튼 -->
				<div class="d-flex justify-content-center my-4">
					<input type="submit" id="changePwBtn" class="btn btn-danger" value="변경하기">
				</div>
				
				<!-- 안내 메세지 -->
				<div id="ChangeNo" class="text-center d-none text-danger">사용할 수 없는 비밀번호입니다. 비밀번호를 6 ~ 10 자리로 입력해주세요.</div>
				
				
			</div>
		</form>
		
	</div>
</section>

<th:block layout:fragment="script">

	<script>
		$(document).ready(function(){
			
			
			// 계정 정보 일치여부 확인
			$("#userSelectBtn").on("click" , function(){
				
				$("#userCheckOk").addClass("d-none");
				$("#userCheckNo").addClass("d-none");
				
				
				// validation
				let loginId = $("#loginId").val().trim();
				let prePassword = $("#prePassword").val();
				
				
				if(loginId == ""){
					alert("아이디를 입력해주세요.");
					return;
				} 
				
				if(prePassword == ""){
					alert("비밀번호를 입력해주세요.");
					return;
				} 
				
				$.ajax({
					type : "POST"
					, url : "/user/find-user"
					, data : {"loginId" : loginId , "password" : prePassword}
					, success : function(data){
						if(data.code == 200){
							$("#userCheckOk").removeClass("d-none");
						} else if (data.code == 306){
							$("#userCheckNo").removeClass("d-none");
						} else if (data.code == 300){
							alert("로그인 후 이용 가능합니다.");
							location.href = "/user/sign-in-view";
						}
					}
					, error : function(e){
						alert("정보 확인에 실패했습니다. 관리자에게 문의해주세요.");
					}
				});
				
			});
			
			
			// 변경할 비밀번호 일치여부
				$("#confirmPassword").on("input" , function(){
				
				// 초기화
				$("#passwordCheckFail").addClass("d-none");
				$("#passwordCheckOk").addClass("d-none");
				
				let password = $("#password").val();
				let confirmPassword = $("#confirmPassword").val();
				
				if(password == confirmPassword){
					$("#passwordCheckOk").removeClass("d-none");
				} else {
					$("#passwordCheckFail").removeClass("d-none");
				}
			});
			
			
			
			// 변경하기
			$("#changePwBtn").on("click" , function(e){
				
				e.preventDefault();
				
				let loginId = $("#loginId").val().trim();
				let password = $("#password").val();
				let prePassword = $("#prePassword").val();
				
				if (loginId == ""){
					alert("아이디를 입력해주세요.");
					return;
				}
				if (password == ""){
					alert("변경할 비밀번호를 입력해주세요.");
					return;
				}
				
				if (password.length < 6 || password.legnth > 10){
					alert("비밀번호는 6 ~ 10 자리까지 가능합니다.");
					return;
				}
				
				if($("#userCheckOk").hasClass("d-none")){
					alert("계정 조회를 먼저 진행해주세요.");
					return;
				}
				
				if ($("#passwordCheckOk").hasClass("d-none")){
					alert("변경할 비밀번호와 비밀번호 확인이 일치하지 않습니다.");
					return;
				}
				
				
				$.ajax({
					type : "PUT"
					, url : "/user/change-pw-bypw"
					, data : {"loginId" : loginId , "password" : password , "prePassword" : prePassword}
					, success : function(data){
						if(data.code == 206){
							alert(data.result);
							location.href = "/user/sign-out";
						} else if (data.code == 315){
							alert(data.error_message);
						} else if (data.code == 300){
							alert(data.error_message);
							location.href = "/user/sign-in-view";
						} else if (data.code == 306){
							alert(data.error_message);
						}
					}
					, error : function(e){
						alert("비밀번호 변경에 실패했습니다. 관리자에게 문의해주세요.");
					}
				});
				
				
			});
			
		});
	
	
	
	</script>



</th:block>