<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="sectionBox">
		
		<img src="/img/maplelogo.jpg" alt="logo" class="logoImg">
		
		<form id="loginForm" action="/user/sign-in" method="POST">
			<div class="col-10 loginBox">
				<div class="d-flex justify-content-center align-items-center">
						<h1>비밀번호 찾기</h1>
				</div>
				
				<!-- 이름 -->
				<div>
					<div class="d-flex ml-5">
						<span>이름</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="text" class="form form-control infoBoxUp" id="name" name="name">
					</div>
				</div>
				
				<!-- 아이디 -->
				<div>
					<div class="d-flex ml-5">
						<span>아이디</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="text" class="form form-control idBox mx-3" id="loginId" name="loginId">
					</div>
				</div>
				
				
				<!--  생년월일 --> 
				<div>
					<div class="d-flex ml-5">
						<span>생년월일</span>
					</div>
					<div class="d-flex justify-content-center my-3">
						<input type ="text" class="form form-control birthBox mx-2" id="year" name="year" placeholder="년(4자)">
						<input type ="text" class="form form-control birthBox mx-2" id="month" name="month" placeholder="월(최대 2자)">
						<input type ="text" class="form form-control birthBox mx-2" id="day" name="day" placeholder="일(최대 2자)">
					</div>
				</div>

			
				<!-- 비밀번호 조회하기 버튼 -->
				<div class="d-flex justify-content-center my-4">
					<input type="submit" id="selectUserBtn" class="btn btn-danger" value="조회하기">
				</div>
				
				<!-- 안내 메세지 -->
				<div class="text-center d-none">
					<span class="text-danger">아이디 또는 비밀번호가 잘못되었습니다.</span>
				</div>
				
			</div>
		</form>
		
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		$(document).ready(function(){
			
			
			$("#selectUserBtn").on("click" , function(e){
				
				e.preventDefault();
				
				// validation check
				// 이름 빈칸
				let name = $("#name").val().trim();
				if (name == ""){
					alert("이름을 입력해주세요.");
					return;
				}
				
				// 년 , 월 , 일 빈칸 검사, 년 4자리 검사
				let year = $("#year").val().trim();
				if (year == ""){
					alert("년도를 입력해주세요");
					return;
				}
				if (year.length != 4){
					alert("년도는 4자리를 모두 입력해주세요.");
					return;
				}
				let month = $("#month").val().trim();
				if (month.length > 2){
					alert("월은 최대 2자리까지 입력 가능합니다.");
					return;
				}
				if (month == ""){
					alert("월을 입력해주세요");
					return;
				}
				let day = $("#day").val().trim();
				if (day == ""){
					alert("일을 입력해주세요");
					return;
				}
				if (day.length > 2){
					alert("일은 최대 2자리까지 입력 가능합니다.");
					return;
				}
				
				let birth = year + month + day;
				
				let loginId = $("#loginId").val().trim();
				if (loginId ==""){
					alert("아이디를 입력하세요.");
					return;
				}
				
				// ajax
				$.ajax({
					type : "POST"
					, url : "/user/find-password"
					, data : {"name" : name , "loginId" : loginId , "birth" : birth}
					, success : function(data){
						if (data.code == 200){
							location.href = "/user/find-pw-detail-view/" + loginId;
						} if (data.code == 305){
							alert(data.error_message);
						} if (data.code == 306){
							alert(data.error_message);
						}
					}
					, error : function(e){
						alert(data.error_message);
					}
				});
			});
			
		});
	
	</script>
	
			
</th:block>