<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
	<th:block th:fragment="headerFragment">
		<header class="d-flex align-items-center">
			<!--  로고 -->
			<div class="col-2 logo"><a href="/mapleinfo"><img src="/img/maplelogo.jpg" class="w-100 logoImg" alt="logo"></a></div>
			
			<!-- 상단 메뉴 -->
			<div class="col-9">
				<nav>
					<ul class="nav nav-fill">
						<li class="nav-item"><a href="/character/my-character-list-view" class="nav-link text-dark">내 캐릭터 조회</a></li>
						<li class="nav-item"><a href="/ranking/ranking-view" class="nav-link text-dark">랭킹</a></li>
						<li class="nav-item"><a href="/boss/main" class="nav-link text-dark">보스 모집</a></li>
						<li class="nav-item"><a href="/freeboard/board-list-view" class="nav-link text-dark">자유 게시판</a></li>
						<li class="nav-item"><a href="/classboard/board-list-view" class="nav-link text-dark">직업 게시판</a></li>
						<li class="nav-item"><a href="#" class="nav-link text-dark">시뮬레이터</a></li>
					</ul>
				</nav>
			</div>
				
			<!-- 로그인 / 비로그인 창 -->
			<div class="col-1">
				<div th:if="${session.loginId == null}">
					<a href="/user/sign-in-view" >로그인</a>
				</div>
				
				<div th:if="${session.loginId != null}">
					<div>
						<span th:text="${session.loginId} + '님 접속중'">00님</span>
					</div>
					<a href="/user/sign-out">로그아웃</a>
				</div>
			</div>
				
		</header>
	</th:block>
</html>